[Unit]
Description=photodiag-test web server

[Service]
Type=simple
User=photodiag
ExecStart=/bin/bash /usr/local/sbin/photodiag-test.sh
Restart=always

[Install]
WantedBy=multi-user.target
