[Unit]
Description=photodiag web server

[Service]
Type=simple
User=photodiag
ExecStart=/bin/bash /usr/local/sbin/photodiag.sh
Restart=always

[Install]
WantedBy=multi-user.target
